commands:
  00download:
    command: 'wget https://app.deepsecurity.trendmicro.com:443/software/agent/amzn1/x86_64/ -O /tmp/agent.rpm --quiet'
  01install:
    command: 'rpm --replacepkgs -ihv /tmp/agent.rpm'
    waitAfterCompletion: 70
  02activate:
    command: '/opt/ds_agent/dsa_control -a dsm://agents.deepsecurity.trendmicro.com:443/ "tenantID:6F8DA5CA-B30E-1F2A-B5FE-86DBFAA8E7D9" "tenantPassword:C8D84FEA-21A5-4988-2779-ADB8EE09CD31" "policyid:7"'
